---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-family: source-sans-3, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #fcfcfa !default;
$background-color: darken(#2d2a2e, 25%) !default;
$brand-color:      #b4d273 !default;

$grey-color:       #797979 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    700px !default;

$on-palm:          600px !default;
$on-laptop:        700px !default;


@import "{{ site.theme }}";


pre, code, tt {
	font-family: source-code-pro, monospace;
}

.site-title {
	font-family: source-code-pro, monospace;
	word-spacing: -0.5ch;
	
	&,
	&:visited {
		color: $grey-color-light;
	}
}



/////// Syntax highlighting ///////

$syntax-white:		#fcfcfa !default;
$syntax-black:		#2d2a2e !default;
$syntax-dark-grey:	#797979 !default;
$syntax-pink: 		#ff6188 !default;
$syntax-orange:		#fc9867 !default;
$syntax-yellow:		#ffd866 !default;
$syntax-green:		#a9dc76 !default;
$syntax-blue:		#78dce8 !default;
$syntax-purple:		#ab9df2 !default;

.highlight {
  background: $syntax-black;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $syntax-black;
  }
  
  pre, code, tt {
  	background: inherit;
  }

  .c     { color: $syntax-dark-grey; font-style: italic } // Comment
  .err   { color: $syntax-pink; background-color: $syntax-black } // Error
  .k     { color: $syntax-pink; font-weight: normal; } // Keyword
  .o     { color: $syntax-pink; font-weight: normal; } // Operator
  .cm    { color: $syntax-dark-grey; font-style: italic } // Comment.Multiline
  .cp    { color: $syntax-dark-grey; font-weight: bold } // Comment.Preproc
  .c1    { color: $syntax-dark-grey; font-style: italic } // Comment.Single
  .cs    { color: $syntax-dark-grey; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: $syntax-white; background-color: $syntax-black } // Generic.Deleted
  .gd .x { color: $syntax-white; background-color: $syntax-black } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: $syntax-white } // Generic.Error
  .gh    { color: $syntax-dark-grey } // Generic.Heading
  .gi    { color: $syntax-white; background-color: $syntax-black } // Generic.Inserted
  .gi .x { color: $syntax-white; background-color: $syntax-black } // Generic.Inserted.Specific
  .go    { color: $syntax-white } // Generic.Output
  .gp    { color: $syntax-white } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: $syntax-white } // Generic.Subheading
  .gt    { color: $syntax-white } // Generic.Traceback
  .kc    { color: $syntax-purple; font-weight: normal } // Keyword.Constant
  .kd    { color: $syntax-blue; font-weight: normal; } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: $syntax-white; font-weight: bold } // Keyword.Type
  .m     { color: $syntax-purple } // Literal.Number
  .s     { color: $syntax-yellow } // Literal.String
  .na    { color: $syntax-white } // Name.Attribute
  .nb    { color: $syntax-white } // Name.Builtin
  .nc    { color: $syntax-white; font-weight: bold } // Name.Class
  .no    { color: $syntax-white } // Name.Constant
  .ni    { color: $syntax-white } // Name.Entity
  .ne    { color: $syntax-white; font-weight: bold } // Name.Exception
  .nf    { color: $syntax-white; font-weight: bold } // Name.Function
  .nn    { color: $syntax-white } // Name.Namespace
  .nt    { color: $syntax-white } // Name.Tag
  .nv    { color: $syntax-white } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: $syntax-white } // Text.Whitespace
  .mf    { color: $syntax-purple } // Literal.Number.Float
  .mh    { color: $syntax-purple } // Literal.Number.Hex
  .mi    { color: $syntax-purple } // Literal.Number.Integer
  .mo    { color: $syntax-purple } // Literal.Number.Oct
  .sb    { color: $syntax-white } // Literal.String.Backtick
  .sc    { color: $syntax-white } // Literal.String.Char
  .sd    { color: $syntax-white } // Literal.String.Doc
  .s2    { color: $syntax-white } // Literal.String.Double
  .se    { color: $syntax-white } // Literal.String.Escape
  .sh    { color: $syntax-white } // Literal.String.Heredoc
  .si    { color: $syntax-white } // Literal.String.Interpol
  .sx    { color: $syntax-white } // Literal.String.Other
  .sr    { color: $syntax-white } // Literal.String.Regex
  .s1    { color: $syntax-yellow } // Literal.String.Single
  .ss    { color: $syntax-white } // Literal.String.Symbol
  .bp    { color: $syntax-dark-grey } // Name.Builtin.Pseudo
  .vc    { color: $syntax-white } // Name.Variable.Class
  .vg    { color: $syntax-white } // Name.Variable.Global
  .vi    { color: $syntax-white } // Name.Variable.Instance
  .il    { color: $syntax-purple } // Literal.Number.Integer.Long
}