---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-family: source-sans-3, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #d6d6d6 !default;
$background-color: #797979 !default;
$brand-color:      #b4d273 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    700px !default;

$on-palm:          600px !default;
$on-laptop:        700px !default;


@import "{{ site.theme }}";


pre, code, tt {
	font-family: source-code-pro, monospace;
}

.site-title {
	font-family: source-code-pro, monospace;
	word-spacing: -0.5ch;
}

