---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-family:	source-sans-3, sans-serif !default;
$base-font-size:	16px !default;
$base-font-weight:	400 !default;
$small-font-size:	$base-font-size * 0.875 !default;
$base-line-height:	1.5 !default;

$spacing-unit:		30px !default;

$text-color:		#fcfcfa !default;
$background-color:	darken(#2d2a2e, 10%) !default;
$brand-color:		#a9dc76 !default;
$brand-color-trans:	rgba(#a9dc76, 0.33) !default;

$grey-color:		#797979 !default;
$grey-color-light:	lighten($grey-color, 40%) !default;
$grey-color-dark:	darken($grey-color, 25%) !default;

$table-text-align:	left !default;

// Width of the content area
$content-width:		700px !default;

$on-palm:			600px !default;
$on-laptop:			700px !default;

// Syntax highlighting
$syntax-white:		#fcfcfa !default;
$syntax-black:		#2d2a2e !default;
$syntax-dark-grey:	#797979 !default;
$syntax-pink: 		#ff6188 !default;
$syntax-orange:		#fc9867 !default;
$syntax-yellow:		#ffd866 !default;
$syntax-green:		#a9dc76 !default;
$syntax-blue:		#78dce8 !default;
$syntax-purple:		#ab9df2 !default;


@import "{{ site.theme }}";


pre, code, tt {
	font-family: source-code-pro, monospace;
}

.site-title {
	font-family: source-code-pro, monospace;
	word-spacing: -0.5ch;
	
	&,
	&:visited {
		color: $grey-color-light;
	}
	
	&:hover {
			background: linear-gradient(to bottom, transparent 0%, transparent 52%, $brand-color-trans 52%, $brand-color-trans 80%, transparent 80%, transparent 100%);
	}
	
	span:nth-child(1) {
		color: $syntax-blue;
	}
	span:nth-child(3),
	span:nth-child(4) {
		color: $syntax-pink;
	}
	span:nth-child(5) {
		color: $syntax-green;
	}
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $brand-color;
	text-decoration: none;
	background: linear-gradient(to bottom, transparent 0%, transparent 54%, $brand-color-trans 54%, $brand-color-trans 95%, transparent 95%, transparent 100%);
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/////// Syntax highlighting ///////

.highlight {
  background: $syntax-black;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $syntax-black;
  }
  
  pre, code, tt {
  	background: inherit;
  }

  .c     { color: $syntax-dark-grey; font-style: italic } // Comment
  .err   { color: $syntax-pink; background-color: $syntax-black } // Error
  .k     { color: $syntax-pink; font-weight: normal; } // Keyword
  .o     { color: $syntax-pink; font-weight: normal; } // Operator
  .cm    { color: $syntax-dark-grey; font-style: italic } // Comment.Multiline
  .cp    { color: $syntax-dark-grey; font-weight: normal } // Comment.Preproc
  .c1    { color: $syntax-dark-grey; font-style: italic } // Comment.Single
  .cs    { color: $syntax-dark-grey; font-weight: normal; font-style: italic } // Comment.Special
  .gd    { color: $syntax-white; background-color: $syntax-black } // Generic.Deleted
  .gd .x { color: $syntax-white; background-color: $syntax-black } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: $syntax-white } // Generic.Error
  .gh    { color: $syntax-dark-grey } // Generic.Heading
  .gi    { color: $syntax-white; background-color: $syntax-black } // Generic.Inserted
  .gi .x { color: $syntax-white; background-color: $syntax-black } // Generic.Inserted.Specific
  .go    { color: $syntax-white } // Generic.Output
  .gp    { color: $syntax-white } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: $syntax-white } // Generic.Subheading
  .gt    { color: $syntax-white } // Generic.Traceback
  .kc    { color: $syntax-purple; font-weight: normal } // Keyword.Constant
  .kd    { color: $syntax-blue; font-weight: normal; } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: $syntax-white; font-weight: normal } // Keyword.Type
  .m     { color: $syntax-purple } // Literal.Number
  .s     { color: $syntax-yellow } // Literal.String
  .na    { color: $syntax-white } // Name.Attribute
  .nb    { color: $syntax-white } // Name.Builtin
  .nc    { color: $syntax-white; font-weight: normal } // Name.Class
  .no    { color: $syntax-white } // Name.Constant
  .ni    { color: $syntax-white } // Name.Entity
  .ne    { color: $syntax-white; font-weight: normal } // Name.Exception
  .nf    { color: $syntax-white; font-weight: normal } // Name.Function
  .nn    { color: $syntax-white } // Name.Namespace
  .nt    { color: $syntax-white } // Name.Tag
  .nv    { color: $syntax-white } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: $syntax-white } // Text.Whitespace
  .mf    { color: $syntax-purple } // Literal.Number.Float
  .mh    { color: $syntax-purple } // Literal.Number.Hex
  .mi    { color: $syntax-purple } // Literal.Number.Integer
  .mo    { color: $syntax-purple } // Literal.Number.Oct
  .sb    { color: $syntax-yellow } // Literal.String.Backtick
  .sc    { color: $syntax-yellow } // Literal.String.Char
  .sd    { color: $syntax-yellow } // Literal.String.Doc
  .s2    { color: $syntax-yellow } // Literal.String.Double
  .se    { color: $syntax-yellow } // Literal.String.Escape
  .sh    { color: $syntax-yellow } // Literal.String.Heredoc
  .si    { color: $syntax-yellow } // Literal.String.Interpol
  .sx    { color: $syntax-yellow } // Literal.String.Other
  .sr    { color: $syntax-yellow } // Literal.String.Regex
  .s1    { color: $syntax-yellow } // Literal.String.Single
  .ss    { color: $syntax-yellow } // Literal.String.Symbol
  .bp    { color: $syntax-dark-grey } // Name.Builtin.Pseudo
  .vc    { color: $syntax-white } // Name.Variable.Class
  .vg    { color: $syntax-white } // Name.Variable.Global
  .vi    { color: $syntax-white } // Name.Variable.Instance
  .il    { color: $syntax-purple } // Literal.Number.Integer.Long
}